<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SnapBuy Invoice</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="w-75 m-auto p-4 border rounded shadow" id="pdf-container">
      <div class="text-center mb-4">
        <h1>Snap<span class="text-info">Buy</span></h1>
        <hr />
      </div>

      <div>
        <footer class="text-center mt-5">
          <hr />
          <div class="d-flex justify-content-around">
            <div class="text-start">
              <h3>SnapBuy</h3>
              <p>Bandar, Narayanganj, Bangladesh</p>
            </div>
            <div>
              <p>Cell: 01627568419</p>
              <p>Email: siam.mohsin200@gmail.com</p>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/src/context/pdf.js"></script>
  </body>
</html>
